body {
    font-family: 'Roboto', sans-serif !important;
}

.slider-titulo {
    color: #2c003e;
    font-weight: 700;
}

.slider-sub{
    color: #512b58;
    font-weight: 400;
}

.img-cover {
    position: relative;
    bottom: 10vh;
    border: 1px solid black;
}

.heading {
    margin-top: 2vh;
  }

.for-slick-slider {
    display: flex;
}

.for-slick-slider {
    display: flex;
}

.for-slick-slider .items {
    width: 350px;
    height: 250px;
    margin: 30px;
}

.for-slick-slider .items img {
    width: 350px;
    height: 350px;
    margin:30px;
}